body{
  background: #121010;
  color:#eee;
  font-family: 'VT323', monospace;
  line-height: 1;
  font-size:24px;
}

.cursor{
  width: 10px;
  height:20px;
  display:inline-block;
  vertical-align: bottom;
  background-color: #eee;
}

#actualinput{
  display: block;
  background: transparent;
  color: transparent;
  outline: none;
  border:none;
  width: 0px;

}

.defaulttext,#ascii{
  color:rgb(219, 158, 0);
}

.commandline,
#defaultline{
  margin-top: 20px;
}

b {
  color: #FFEC88;
  font-weight: lighter;
}

div.help b:first-child {
  padding-right: 20px;
}

a{
  color:orange;
  text-decoration: none;
}

.help div{
  display: block;
}
  
@viewport {  
    width: device-width;  
}

@keyframes flicker {
  0% {
    opacity: 0.00764;
  }
  5% {
    opacity: 0.47269;
  }
  10% {
    opacity: 0.83926;
  }
  15% {
    opacity: 0.40307;
  }
  20% {
    opacity: 0.17243;
  }
  25% {
    opacity: 0.91746;
  }
  30% {
    opacity: 0.54952;
  }
  35% {
    opacity: 0.83544;
  }
  40% {
    opacity: 0.46501;
  }
  45% {
    opacity: 0.45345;
  }
  50% {
    opacity: 0.65416;
  }
  55% {
    opacity: 0.96365;
  }
  60% {
    opacity: 0.36003;
  }
  65% {
    opacity: 0.67651;
  }
  70% {
    opacity: 0.28658;
  }
  75% {
    opacity: 0.18924;
  }
  80% {
    opacity: 0.41655;
  }
  85% {
    opacity: 0.31774;
  }
  90% {
    opacity: 0.73679;
  }
  95% {
    opacity: 0.43748;
  }
  100% {
    opacity: 0.27216;
  }
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}