@import "compass/css3"

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;

body{
  padding:10px;
  /*overflow:hidden;*/
  background: #181320;
  color:#eee;
  font-family: 'VT323', monospace;
  line-height: 1.5;
  font-size:17px;
}

.cursor{
  width: 10px;
  height:20px;
  display:inline-block;
  vertical-align: bottom;
  background-color: #eee;
}

#actualinput{
  display: block;
  background: transparent;
  color: transparent;
  outline: none;
  border:none;
  width: 0px;

}

.defaulttext,#ascii{
  color:rgb(219, 158, 0);
}

.commandline,
#defaultline{
  margin-top: 20px;
}

b {
  color: #FFEC88;
  font-weight: lighter;
}

.guilink{
  color:orange;
  text-decoration: none;
}

.profilepic{
  border:5px solid #fff;
  margin-top:10px;
}

div.help b:first-child {
  padding-right: 20px;
}

a{
  color:orange;
  text-decoration: none;
}

.ascii span {
  display: block;
  line-height: 1.0;
}

.weather d{
  position: relative;
  top: -8px;
  padding-left: 5px;
  font-size: 10px;
}

.help div{
  display: block;
}
  
.news-item {
display: block;
vertical-align: top;
margin-top: 20px;
border-bottom: 1px dashed #222;
padding: 10px 0px;
}

.news-item span {
    display: inline-block;
}

span.news-title {
    font-weight: bold;
}

span.news-description {
    font-size: 15px;
}

span.news-timestamp {
    font-size: 12px;
    margin: 0;
}

span.news-link {
    width: 100%;
}

@viewport {  
    width: device-width;  
}

@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}
.container{
  background:$screen-background;
  width:800px;
  height:600px;
  margin-top:10px;
  position:relative;
  overflow:hidden;
  border:2px solid #666;

  // flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparentize($screen-background,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
  }
}

